body,
html {
  background: -webkit-gradient(linear, left bottom, left top, from(#dae2f8), to(#d6a4a4));
  background: linear-gradient(to top, #dae2f8, #d6a4a4);
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

input {
  border: 1px solid cadetblue;
  outline: none;
}

textarea {
  resize: none;
}

select {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 1.2em;
  width: 70%;
}

.container {
  border-radius: 13px;
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 20px 1px;
  position: relative;
}

.content-container {
  padding: 0 1%;
  min-height: 60vh;
}

.logo-header {
  text-align: center;
  margin: 5px;
  font-size: 3em;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: flex;
  text-align: center;
  padding: 10px;
  position: relative;
}

nav a {
  border-radius: 9px;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 5px 15px;
  display: inline-block;
  background: #D98945;
}

nav a:hover {
  background: #ac692f;
}

nav .nav-link {
  width: 100%;
  display: inline-block !important;
}

nav .searc-block .search-query {
  font-size: 18px;
  border-radius: 9px;
  width: 80%;
  display: block;
  height: 30px;
  margin: 0 auto;
  padding: 5px;
  padding-left: 25px !important;
}

footer {
  margin-top: 5%;
  width: 100%;
  height: 25vh;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

footer h1 {
  display: inline-block;
  text-align: center;
  font-size: 4em;
}

footer * {
  margin: 0 auto;
}

.popular-book {
  width: 100%;
  overflow: hidden;
}

.popular-book h5 {
  margin: 10px;
}

.popular-book .popular-item {
  position: relative;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 55%;
}

.popular-book .popular-item:hover {
  cursor: pointer;
}

.book-img {
  position: relative;
  height: 70%;
}

.book-title {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}

.book-price {
  display: block;
  font-size: 0.8em;
}

.tns-liveregion,
.tns-nav {
  display: none !important;
}

.slider-Action,
.slider-Popular {
  z-index: 10;
  height: 30vh;
}

.tns-controls button {
  border-radius: 50%;
  background-color: #fff;
  outline: none;
  border-color: unset;
  position: relative;
  height: 50px;
  width: 50px;
  font-weight: bolder;
  font-size: 16px;
}

.tns-controls button:first-child {
  float: left !important;
}

.tns-controls button:last-child {
  float: right;
}

.footer-nav {
  display: inline-block;
  padding-top: 15px;
}

.footer-nav a {
  text-transform: uppercase;
  display: block;
  border-radius: 3px;
  padding: 5px;
  width: 150px;
  max-width: 200px;
  border: 1px solid;
  margin-bottom: 5px;
  text-align: center;
  background: #afb6bc;
}

.footer-nav a:hover {
  background: #92989c;
}

.about-author {
  float: right;
  margin-top: 2%;
}

.about-author div {
  padding: 10px;
}

.news-block {
  height: 300px;
  text-align: center;
  border: 1px solid;
  margin-top: 3%;
}

.main-info {
  height: 30vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  padding-top: 2%;
}

.main-info .img-book {
  height: 90%;
  width: 60%;
  margin: 0 auto;
}

.main-info .img-book img {
  height: 90%;
}

.main-info .first-book-info {
  height: 80%;
  display: grid;
  grid-row: 10px 10px 10px 200px;
  font-size: 18px;
  vertical-align: middle;
}

.main-info .first-book-info .page-title-book {
  font-weight: bold;
}

.main-info .first-book-info .page-rice {
  font-weight: bolder;
  color: #c50023;
  font-size: 18px;
}

.main-info .button-buy {
  height: 80%;
  position: relative;
}

.main-info .button-buy .buyBook {
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  bottom: 5%;
  width: 150px;
  height: 40px;
  right: 10%;
  background-color: #eb0000;
  border-radius: 8px;
  text-align: center;
  outline: none;
  color: #fff;
}

.main-info .button-buy .buyBook:hover {
  background-color: #f83b3b;
}

.description-info {
  margin: 0 2%;
  line-height: 2em;
  margin-bottom: 30px;
}

.buy-page-title {
  text-align: center;
}

.all-select-book {
  min-height: 30vh;
  padding: 10px;
}

.book-section {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 0.01fr 1fr 1.5fr 1fr 1fr 1fr;
}

.buy-book-img img {
  display: block;
  margin: 0 auto;
  max-height: 100px;
}

.buy-title-book {
  padding-top: 7%;
}

.buy-title-book .name-book {
  max-width: 300px;
  overflow: hidden;
  margin-bottom: 3%;
}

.parent-book-price {
  position: relative;
}

.parent-book-price .buy-book-price {
  font-weight: bold;
  position: absolute;
  right: 10%;
  top: 35%;
  color: #c50023;
}

.buy-total-book {
  position: relative;
}

.buy-total-book input {
  position: absolute;
  max-width: 30px;
  height: 20px;
  right: 40%;
  top: 35%;
  text-align: center;
}

.buy-remove-book {
  position: relative;
}

.buy-remove-book a {
  position: absolute;
  display: block;
  text-align: center;
  padding: 3px;
  max-width: 20px;
  width: 20px;
  top: 35%;
  right: 40%;
  color: #fff;
  background-color: #f83b3b;
  border: 2px solid #af2323;
  border-radius: 4px;
}

.buy-remove-book a:hover {
  background-color: #c52222;
}

.buy-basket {
  position: absolute;
  right: 8%;
  font-size: 20px;
  background-color: #57d8d8;
  border-radius: 6px;
  margin-top: 2%;
  min-width: 150px;
  text-align: center;
  padding: 15px;
  border: 1px solid #28afb0;
}

.buy-basket:hover {
  background-color: #23c7c7;
}

.header-filter {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 2fr 0.7fr;
}

.header-filter .filter-main-search {
  padding: 5px;
}

.header-filter .filter-main-search label {
  font-size: 24px;
  font-weight: 500;
}

.header-filter .filter-main-search input {
  width: 300px;
  height: 20px;
  font-size: 1.2em;
  border-radius: 9px;
  padding: 10px;
}

.header-filter .filter-main-search span {
  margin-left: 2px;
  border: 1px solid;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
}

.header-filter .filter-news,
.header-filter .filter-action {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ee964b;
  text-align: center;
  margin: 1px;
}

.header-filter .filter-news:hover,
.header-filter .filter-action:hover {
  cursor: pointer;
  background-color: #eca465;
}

.show-main-filter {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #28afb0;
  text-align: center;
  margin: 1px;
}

.show-main-filter:hover {
  cursor: pointer;
  background-color: #08caca;
}

.main-filters {
  -webkit-transition: all 1s;
  transition: all 1s;
  display: grid;
  opacity: 0;
  width: 80%;
  height: 0;
  margin: 30px auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-filters div {
  margin: 0 auto;
}

.main-filters .ganre-list {
  width: 250px;
  text-align: center;
}

.main-filters .ganre-list div {
  font-size: 1.5em;
  margin-bottom: 5%;
}

.main-filters .filter-price {
  width: 200px;
  text-align: center;
}

.main-filters .filter-price p {
  -webkit-margin-before: 0.3em;
          margin-block-start: 0.3em;
  -webkit-margin-after: 0.3em;
          margin-block-end: 0.3em;
  font-size: 20px;
}

.main-filters.active {
  opacity: 1;
  height: 25vh;
}

input[type=range] {
  height: 38px;
  -webkit-appearance: none;
  outline: none;
  width: 80%;
  border: unset !important;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  outline: none;
  box-shadow: 1px 1px 1px #000000;
  background: #3071a9;
  border-radius: 5px;
  border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

.filter-author {
  margin: 10px 20px 0 20px !important;
  text-align: center;
}

.filter-author div {
  font-size: 1.5em;
  margin-bottom: 5%;
}

.filter-author input {
  width: 70%;
  height: 24px;
  border-radius: 9px;
  border: 1px solid cadetblue;
  outline: none;
  font-size: 1.2em;
  padding: 5px;
  padding-left: 10px;
}

.result-search {
  width: 100%;
  min-height: 400px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.book-card {
  height: 350px;
  width: 250px;
  text-align: center;
  margin: 10px auto;
}

.book-card img {
  margin: 0 auto;
  display: block;
  height: 250px;
  width: 200px;
}

.book-card-name {
  font-weight: 500;
  font-size: 1.8em;
}

.book-card-price {
  display: inline-block;
  margin-left: 30px;
  font-size: 1.3em;
  font-weight: 500;
  color: rgba(236, 52, 52, 0.705);
}

.book-card-add-bascket {
  display: inline-block;
  font-size: 1.1em;
  padding: 5px;
  width: 40%;
  background-color: #EE964B;
  border-radius: 8px;
}

.book-card-add-bascket:hover {
  cursor: pointer;
  background-color: #e07d27;
}

.sort {
  display: grid;
  text-align: center;
  grid-template-rows: 0.3fr 0.4fr 1fr;
}

.sort-by {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sort-by label {
  display: table-cell;
  vertical-align: middle;
}

.sort-by input {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.sort .button-block {
  max-height: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.sort .button-block .sort-btn-all {
  font-size: 1em;
  padding: 7px;
  border-radius: 9px;
  background-color: #ee964b;
  text-align: center;
  margin: 1px;
}

.sort .button-block .sort-btn-all:hover {
  cursor: pointer;
  background-color: #e07d27;
}

.sort .button-block .sort-btn-search {
  padding: 7px;
  font-size: 1em;
  border-radius: 9px;
  margin: 1px;
  background-color: #05d1d1;
}

.sort .button-block .sort-btn-search:hover {
  cursor: pointer;
  background-color: #058d8d;
}

.profile-page {
  display: grid;
  margin: 30px auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.profile-page .ressetPassword button,
.profile-page .dop-info button {
  display: block;
  margin: 0 auto;
}

.profile-page input {
  width: 270px;
  border-radius: 9px;
  height: 33px;
  font-size: 1.5em;
  padding: 5px;
  padding-left: 10px;
  margin: 20px 10px;
  display: block;
}

.profile-page h1 {
  font-weight: normal;
  text-align: center;
}

.profile-mainInfo {
  margin: 0 auto;
  padding: 10px;
}

.profile-mainInfo img {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 30%;
  display: block;
}

.profile-mainInfo .user-name,
.profile-mainInfo .user-surname {
  margin: 20px 10px;
}

header {
  display: grid;
  grid-template-columns: 0.7fr 3fr 0.7fr;
  height: 100px;
}

header .logo-header {
  font-weight: 500;
  font-size: 2em;
  padding: 15px;
  font-family: Comic Sans;
}

header nav {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .btnLogin {
  padding: 15px;
}

header .btnLogin .avatar-header {
  width: 70px;
  height: 60px;
  border-radius: 30%;
}

.admin-nav {
  display: -webkit-box;
  display: flex;
  margin: 30px 0 0 0;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 0;
}

.admin-nav a {
  padding: 5px 40px;
  border-bottom-left-radius: unset !important;
  border-bottom-right-radius: unset !important;
}

.admin-nav .btn-nav.active {
  background: #ac692f;
}

.admin-workspace {
  width: 99%;
  margin: 0 auto;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  box-shadow: 0 0 2em #3071a9;
}

.admin-workspace:only-child {
  padding-bottom: 50px;
  padding-top: 50px;
}

.admin-workspace .tab {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.admin-workspace .tab-stats {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 20px;
}

.admin-workspace .tab-stats .info-1,
.admin-workspace .tab-stats .info-2,
.admin-workspace .tab-stats .info-3 {
  text-align: center;
}

.admin-workspace .tab-stats .info-block {
  text-align: center;
}

.admin-workspace .tab-stats .info-block h4 {
  margin: 0;
  font-size: 1.7em;
}

.admin-workspace .tab-stats .info-block p {
  font-size: 2em;
  margin: 10px auto;
}

.admin-workspace .tab-stats .info-center {
  margin: 30% auto;
}

.admin-workspace .add-book {
  padding-bottom: 20px;
}

.admin-workspace .book-save {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.admin-workspace .book-save .add-info-book:first-child {
  margin-top: 30px;
}

.admin-workspace .book-save .add-info-book .info-block {
  margin: 10px auto 10px 5%;
}

.admin-workspace .book-save .add-info-book label {
  display: inline-block;
  font-size: 1.2em;
  vertical-align: top;
  min-width: 60px;
}

.admin-workspace .book-save .add-info-book input {
  width: 80%;
}

.admin-workspace .book-save .add-info-book .new-description-book {
  padding: 5px 5px;
  width: 65%;
  font-size: 1.3em;
}

.admin-workspace .book-save .imgBlock img {
  width: 300px;
  height: 250px;
}

.admin-workspace .book-save .imgBlock label {
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  display: block;
}

.admin-workspace .book-save .imgBlock label:hover {
  cursor: pointer;
}

.admin-workspace .btnAddBook {
  margin: 20px auto;
}

.admin-workspace .admin-all-book .book-info {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.admin-workspace .admin-all-book .book-info div {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  font-size: 1.5em;
  font-weight: 400;
}

.admin-workspace .user-list,
.admin-workspace .user-list-title,
.admin-workspace .all-coments-title,
.admin-workspace .all-comments {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.admin-workspace .user-list div,
.admin-workspace .user-list-title div,
.admin-workspace .all-coments-title div,
.admin-workspace .all-comments div {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  font-size: 1.5em;
  font-weight: 400;
}

.admin-workspace .user-list .admin-user-name,
.admin-workspace .user-list-title .admin-user-name,
.admin-workspace .all-coments-title .admin-user-name,
.admin-workspace .all-comments .admin-user-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.admin-workspace .user-list-title,
.admin-workspace .all-coments-title {
  border-bottom: 1px solid;
}

.admin-workspace .user-list-title div,
.admin-workspace .all-coments-title div {
  border-left: 1px solid;
  border-right: 1px solid;
}

.admin-workspace .user-list-title .first,
.admin-workspace .all-coments-title .first {
  border-left: none !important;
}

.admin-workspace .user-list-title .last,
.admin-workspace .all-coments-title .last {
  border-right: none !important;
}

.admin-workspace .admin-user-block {
  color: red;
}

.admin-workspace .admin-user-block:hover {
  cursor: pointer;
  color: #ad0303;
}

.admin-workspace .forCommentsAdmin {
  height: 30px;
  border-radius: 50%;
  margin-right: 2%;
}

.admin-workspace .comment-response-btn {
  color: #1ccf1c;
  font-weight: 500;
}

.admin-workspace .comment-response-btn:hover {
  color: #0ba30b;
  font-weight: 600;
  cursor: pointer;
}

.admin-workspace .comment-remove-btn {
  color: #fa3512;
  font-weight: 500;
}

.admin-workspace .comment-remove-btn:hover {
  color: #af0017;
  font-weight: 600;
  cursor: pointer;
}

.coment-block {
  margin-top: 20px;
  padding: 5px;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.coment-block .title-block {
  font-size: 1.8em;
  text-align: left;
  padding-bottom: 15px;
  font-weight: 600;
  margin: 10px;
  border-bottom: 1px solid gray;
}

.coment-block .comment-text {
  margin: 20px;
  width: 80%;
  font-size: 1.5em;
  padding: 10px 20px;
}

.coment-block .add-comment {
  outline: none;
  font-size: 1.5em;
  background-color: unset;
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 20px;
  border: 2px solid;
}

.coment-block .add-comment:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}

.user-comment-block {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  padding: 15px;
}

.user-comment-block .icon-avatar {
  padding: 20px;
}

.user-comment-block .info-comment {
  padding: 20px;
  display: block;
}

.user-comment-block .info-comment .username-comment {
  font-size: 1.3em;
  font-weight: 500;
  padding-bottom: 10px;
}

.user-comment-block .info-comment .text-comment {
  font-size: 1.2em;
  font-weight: 450;
  white-space: pre-wrap;
  width: 80%;
}

.avatar-for-comment {
  max-width: 60px;
  border-radius: 10px;
}

.ce {
  margin: 0 auto;
  display: block;
}

.hide {
  display: none !important;
  opacity: 0;
}

.btn-g {
  min-width: 150px;
  height: 45px;
  border-radius: 9px;
  font-size: 1.3em;
  padding: 10px;
  border: 1px solid cadetblue;
  background-color: #36A051;
  outline: none;
}

.btn-g:hover {
  cursor: pointer;
  background-color: #1b8a37;
}

.btn-nav {
  border-radius: 9px;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 5px 15px;
  display: inline-block;
  background: #D98945;
}

.btn-nav:hover {
  background: #ac692f;
}

.inpStan {
  outline: hidden;
  padding-left: 10px;
  padding: 10px;
  border-radius: 9px;
  font-size: 1em;
}

.small-book-img {
  height: 100px;
}

.small-avatar-img {
  height: 50px;
  border-radius: 30%;
}

.content-reg-block {
  min-height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.reg-block {
  width: 550px;
  height: auto;
  border-radius: 9px;
  padding: 20px;
  box-shadow: 0 0 20px 1px;
}

.reg-block .title-reg {
  font-size: 1.8em;
  text-align: center;
  font-weight: 500;
  padding: 10px;
  margin: 10px auto;
}

.reg-block div {
  padding: 10px;
  margin: 5px;
}

.reg-block label {
  font-size: 1.3em;
}

.reg-block input {
  vertical-align: middle;
  padding: 10px;
  border-radius: 9px;
  font-size: 1.2em;
}

.reg-block .get-reg-info div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.reg-block .get-reg-info div label {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.loginBtn {
  background-color: #D7D2D5;
  width: 180px;
  line-height: normal;
  text-align: center;
  height: auto;
}

.user-page {
  border: 1px solid;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user-page .all-order {
  border: 1px solid;
}

.user-page .all-order .title-order {
  text-align: center;
  font-size: 1.4em;
  font-weight: 550;
}

.user-page .user-coments {
  border: 1px solid;
}

