.content-reg-block{
    min-height: 90vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-block{
    width: 550px;
    height: 450px;
    border-radius: 9px;
    box-shadow: 0 0 20px 1px;
    .title-reg{
        font-size: 1.8em;
        text-align:center;
        font-weight: 500;
        padding: 10px;
        margin: 10px auto;
    }
    div{
        padding: 10px;
        margin:5px;
    }
    label{
        font-size: 1.3em;
    }
    input{
        vertical-align: middle;
        padding:10px;
        border-radius:9px;
        font-size: 1.2em;
    }
    .get-reg-info{
        div{
            display:grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}