body,html{
    background: linear-gradient(to top, #dae2f8, #d6a4a4);
    width: 100%;  
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // color:#A2EFE9;
}
a{
    text-decoration:none;
    color:black;
}
.container{
    border-radius: 13px;
    max-width: 1024px;
    min-height: 100vh;
    margin: 0 auto;
    background: #fff; 
    box-shadow: 0 0 20px 1px;
    
}
.content-container{
    padding:0 1%;    
}
.logo-header{
    text-align: center;
    margin: 5px;
    font-size: 3em;
}

nav{
    width: 100%;
    display: flex;
    text-align: center;
    padding: 10px;
    // margin-left: 10%;
    a{
        border-radius:3px;
        text-transform: uppercase;
        font-size: 1em;
        padding: 5px;
        display: inline-block;
        background: #afb6bc;
        &:hover{
            // border:1px solid;
            background: #92989c;

        }
    }
    .nav-link{
    width: 100%;    
    display: inline-block!important;
    }
    .searc-block{
        width:20%;
        float: right;
        .search-query{
            right: 0;
            font-size: 18px;
            border-radius: 4px;
            width: 90%;
            display: block;
            height: 30px;
        }
    }
}
footer{
    margin-top:5%;
    width: 100%;
    height: 25vh;

    h1{
        display: inline-block;
        position: absolute;
        right: 41%;
        font-size: 4em;
    }
}


.popular-book{
    width: 100% ;
    overflow: hidden; 
    // max-height: 370px;
    h5{
        margin: 10px;
    }   
    .popular-item{
        position: relative;
        display:inline-block;
        text-align: center;
        height:100%;
        width:55%;
        &:hover{
            cursor:pointer;
        }
    }
}
.book-img{
    position: relative;
    width: 63%;
    height: 70%;
}


.book-title{
    display: block;    
    font-size: 1.2em;
    font-weight: bold;
}
.book-price{
    display: block;   
    font-size: 0.8em; 
}

.tns-liveregion,.tns-nav {
    display:none!important;
}

.slider{
    &-Action,&-Popular{
    z-index:10;
    height: 30vh;
    }
}

.tns-controls{
    button{
        // border:none;
        border-radius: 50%;
        background-color:#fff;
        outline: none;
        border-color:unset;
        position: relative;
        height: 50px;
        width: 50px;
        font-weight: bolder;
        font-size: 16px;
        &:first-child{
            float: left!important;
        }
        &:last-child{
            float:right;
        }
    }
}

.footer-nav {
    display:inline-block;
    margin-left: 5%;
    padding-top: 15px;
    a{
    text-transform:uppercase ;
    display: block;
    border-radius: 8px;
    padding:5px;
    width: 150px;
    max-width: 200px;
    border: 1px solid;
    margin-bottom: 5px;
    text-align: center;
    }
}

.about-author{
    float: right;
    margin-top: 2%;
    div{
        padding:10px;
    }
}

.news-block{
    height:300px ;
    text-align: center;
    border: 1px solid;
    margin-top: 3%;
}

///////BOOK PAGE/////////

.main-info{
    border:1px solid;
    
}



///////END///////////////