

.buy-page{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-top: 20px;
}

.select-post,.select-type-pay{
    margin: 0 auuto;
    text-align:center;
    form{
        margin: 30px auto;
        width: auto;
    }
    div{
      text-align: left;
      margin: 20px;
    }
    input{
        margin-right: 10px;
    }
    label{
        vertical-align: top;
        font-size: 1.4em;
    }
}

.title-select-post{
    font-size: 1.5em;
}

.info-client{
    display: block;
    h2{
        text-align: center;
        padding: 0;
        font-size: 1.5em;
        margin: 0;
        margin-bottom: 50px;
    }
    input{
        display: block;
        margin: 10px auto;
        padding: 10px;
        font-size: 1em;
        border-radius:10px;
    }
}


.post-order-info{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.type-pay{
    text-align: left!important;
}
.btnCreateOrder{
    margin-top: 40px;
}
.titleOrder{
    text-align: center;
}
.order-select-book{
    display: grid;
    //border:1px solid;
    padding: 5px;
    .item{
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        margin-bottom: 10px;
        *{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.orderImg{
    max-width: 150px;
    max-height: 100px;
    margin: 0 auto;
}

.header-list-order{
    border-bottom: 1px solid ;
    div{
        font-size: 18px;
    }
}

.item-order,.header-list-order{
    padding: 10px;
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr;
    *{
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
