.user-page{
    margin-top: 30px;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .all-order{
        border-right: 1px solid;
        .title-order{
            text-align:center;
            font-size: 1.4em;
            font-weight: 550;
        }
    }
}


.admin-panel-open {
    overflow: hidden;
    z-index: 10000;
    transition: all 1s;
    position:absolute;
    background: #b7dd8a;
    border-radius: 10px;
    right: 16px;
    margin-top: 10px;
    height: 0;
    ul{
        padding: 5px;
        text-align: center;
    }
    li {
        list-style-type: none;
        padding: 5px;
    }
}

.admin-panel-open.active{
    height: 130px;
}
