.user-page{
    margin-top: 30px;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .all-order{
        border-right: 1px solid;
        .title-order{
            text-align:center;
            font-size: 1.4em;
            font-weight: 550;
        }
    }
    
   
}